:root {

    --border-size: .25rem;
}

html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    background-image: linear-gradient(to top, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    
}

h3 {
    font-size: 2rem;
    margin: 1.5rem;
}
.grid-board {

    display:grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width: 30rem;
    height: 30rem;

    margin: 3rem;
}

.board-space {

    display: flex;
    justify-content: center;
    align-items: center;
}

.space-text {
    user-select: none;
}

.space00 {
    border-bottom: solid var(--border-size) black;
    border-right: solid var(--border-size) black;
}

.space01 {
    border-left: solid var(--border-size) black;
    border-bottom: solid var(--border-size) black;
    border-right: solid var(--border-size) black;
}

.space02 {
    border-bottom: solid var(--border-size) black;
    border-left: solid var(--border-size) black;
}

.space10 {
    border-bottom: solid var(--border-size) black;
    border-right: solid var(--border-size) black;
    border-top: solid var(--border-size) black;
}

.space11 {
    border: solid var(--border-size) black;
}

.space12 {
    border-top: solid var(--border-size) black;
    border-bottom: solid var(--border-size) black;
    border-left: solid var(--border-size) black;
}

.space20 {
    border-top: solid var(--border-size) black;
    border-right: solid var(--border-size) black;
}

.space21 {
    border-left: solid var(--border-size) black;
    border-top: solid var(--border-size) black;
    border-right: solid var(--border-size) black;
}

.space22 {
    border-top: solid var(--border-size) black;
    border-left: solid var(--border-size) black;
}

.board-X {
    font-size: 7rem;
    color: #FFBE0B;

    -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.board-O {
    font-size: 7rem;
    color: #3A86FF;

    -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.5s both;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.5s both;
}

.flex-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttt-title {

    color: #8338EC;
    background: -webkit-linear-gradient(90deg, #FB5607,#FF006E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ttt-subtitle {

}

.buttons-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80vw;

}

.buttons-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;


}

.buttons-right {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.button {

    border: none;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

.button-unselected {

    width: 2rem;
    height: 2rem;
    opacity: 50%;
}

.sub-banner {
    display: flex;
    align-items: center;
}

.player-badge {

    border: none;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    background-image: url("../media/hacker.svg");
}

.ai-badge {
    background-image: url("../media/artificial-intelligence.svg");
    border: none;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}


.reset-button {
    background-image: url("../media/reset.svg");
    background-color: transparent;
    width: 4rem;
    height: 4rem;
}


.player-name-input {
    width: 4rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-29 16:10:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  