.grid-board {

    display:grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width: 60vw;
    height: 60vh;
    background-color: black;
}

.board-space {

    background-color: green;
    border: solid 1px black;
}

.board-X {
    background-color: blue;
}

.board-O {
    background-color: red;
}

.flex-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttt-title {

}

.ttt-subtitle {

}